@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #1E1E1E;
}
img{
    display: block;
}
h1{
    font-size: 24px;
    text-align: center;
}
h2{
    font-weight: 700;
    font-size: 22px;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;

}
header .logo-baseline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    cursor: pointer;
}
header .logo-baseline p{
    text-align: center;
    font-size: 22px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 12vh;
}
.header-nav a{
    text-decoration: none;
}
.header-nav a i{
    color: #ffffff;    

}


/* MAIN */
main{
    padding: 40px;
}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.main-title{
    margin: auto;
    width: 50%;
    font-weight: 600;
    color: #fff;
    font-size: 70px;
}
.projet-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 8%;
    position: relative;
}
.projet-wrapper:nth-child(3), .projet-wrapper:nth-child(4){
    margin-top: 40px;
}
.projet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 296px;
    background-color: #fff;
    overflow: hidden;
    margin: 20px 0;
    padding: 12px;
    border-radius: 12px;
}
.projet:hover{
    box-shadow: 1px 0px 7px 1px #ffffff;
    transition: 300ms;
}
.projet img{
    width: 100%;
}
.projet h2{
    margin: 8px 0 0;
}
.projet .description{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #242325;
}
.description span {
    margin: 10px;
    font-weight: 600;
}
.description p{
    text-align: center;
    margin: auto;
}
.projet a{
    margin: 8px 0;
    align-self: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px;
    border: 2px solid #242325;
    color: #fff;
    background: #242325;
    transition: .3s ease-in-out;
}
.projet a:hover{
    padding: 6px;
    border: 2px solid #242325;
    background: #fff;
    color: #242325;
}

.back-up{
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #242325;
}
.back-up.active {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #ffffff;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 60px;
    color: #ffffff;
}
.footer-txt{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
}
footer p{
    margin-top: 10px;
}
.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    text-align: center;
}
.nav-links h2{
    margin-bottom: 10px;
}
.nav-links span{
    margin: 26px;
}
.nav-links nav{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.nav-links nav i{
    color: #ffffff;
}

@media screen and (max-width: 950px) {
    header{
        flex-direction: column;
        padding: 8px 60px;
    }
    header .logo-baseline{
        flex-direction: column;
        gap: 16px;
    }
    .header-nav{
        margin: 8px 0 0;
        width: 50%;
    }
    .main-title{
        width: 100%;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-txt{
        width: 100%;
        text-align: center;
    }
    .nav-links{
        width: 100%;
        margin-top: 20px;
    }
    .nav-links span {
        margin: 12px 0;
    }
    .nav-links nav{
        width: 50%;
        margin: auto;
    }
    .back-up{
        right: 6px;
    }
}